*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@font-face {
    font-family: "Unica77LLSub-Light";
    src: url("../fonts/Unica77LLSub-Light.woff") format("woff");
}

@font-face {
    font-family: "Unica77LLSub-Light";
    src: url("../fonts/Unica77LLSub-Light.woff2") format("woff2");
}
  
@font-face {
    font-family: "Unica77LLSub-Regular";
    src: url("../fonts/Unica77LLSub-Regular.woff") format("woff");
}

@font-face {
    font-family: "Unica77LLSub-Regular";
    src: url("../fonts/Unica77LLSub-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Unica77LLSub-Medium";
    src: url("../fonts/Unica77LLSub-Medium.woff") format("woff");
}

@font-face {
    font-family: "Unica77LLSub-Medium";
    src: url("../fonts/Unica77LLSub-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Unica77LLSub-Bold";
    src: url("../fonts/Unica77LLSub-Bold.woff") format("woff");
}

@font-face {
    font-family: "Unica77LLSub-Bold";
    src: url("../fonts/Unica77LLSub-Bold.woff2") format("woff2");
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer !important;
}

.contact {
    margin-top: 6rem;
}

.contact-email {
    color: #999999;
    font-family: "Unica77LLSub-Regular";
    font-weight: normal;
    font-size: 16px;
    line-height: 22.4px;
}

.contact-email:hover {
    color: #333333;
}

.contact-phone {
    text-decoration: none;
}

.contact-phone a {
    text-decoration: none !important;
    color: inherit !important;
}

p.contact-phone a {
    text-decoration: none !important;
    color: inherit !important;
}

.email {
    color: #999999;
    font-family: "Unica77LLSub-Regular";
    font-weight: normal;
    font-size: 16px;
    line-height: 22.4px;
}

.email:hover {
    color: #333333;
}

a.email {
    cursor: pointer !important;
}

html {
    max-width: 1200px;
    margin: auto;
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    line-height: 22.4px;
    color: #333;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 3rem;
}

header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-family: "Unica77LLSub-Regular";
    line-height: 22.4px;
    color: #999999;
}

header a:hover {
    color: #333333;
}

.logo {
    margin-bottom: 0rem;
    margin-top: 18.5px;
    cursor: pointer !important;
}

a.logo {
    cursor: pointer !important;
}

.menu {
    display: flex;
    flex-direction: column;
    cursor: pointer !important;
}

.menu a {
    margin-left: 1.5rem;
    text-align: right;
    cursor: pointer !important;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 1104px; /* Ensure it doesn’t exceed 1104px */
    padding-bottom: 60%; /* 16:9 aspect ratio (720px/1200px) */
    overflow: hidden;
    margin: 0 auto; /* Center the container */
    background-color: transparent; /* Remove background color */
}

/* All slides */
.slideshow-container .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ensure slides cover the container */
    opacity: 0; /* Hide all slides initially */
    z-index: 0; /* Stack inactive slides below */
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

/* Active slide */
.slideshow-container .slide.active {
    opacity: 1; /* Make the active slide visible */
    z-index: 1; /* Bring active slide to the front */
}

/* Remove any unnecessary keyframes animation for now */

h1 {
    font-family: "Unica77LLSub-Regular";
    font-size: 18px;
    font-weight: normal;
    line-height: 22.4px;
    margin-top: 0rem;
}

/* PASSWORD PROTECTED WORK */
form {
    margin-top: 6rem;
}

input {
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    color: #999;
    -webkit-text-size-adjust: 100%;
    padding: 10px 20px;
    margin: 0 15px 15px 0;
    border: .5px solid #c3c3c3;
    width: 300px;
    border-radius: 0px;
}

::-webkit-input-placeholder { 
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    color: #999;
}

::-moz-placeholder { 
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    color: #999;
    opacity: 1;
}

:-ms-input-placeholder { 
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    color: #999;
}

:-moz-placeholder { 
    font-family: "Unica77LLSub-Regular";
    font-size: 16px;
    color: #999;
    opacity: 1;
}

button {
    font-family: "Unica77LLSub-Bold";
    font-size: 16px;
    padding: 10px 20px;
    background-color: #eee;
    color: #333;
    border: .5px solid #eee;
    cursor: pointer !important;
    border-radius: 0px;
    margin: 0px 0 30px 0;
    font-weight: normal;
}

button:hover {
    background-color: #c6973f;
    border: .5px solid #c6973f;
}

img {
    width: 100%;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
}

video {
    margin-bottom: 1.5rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    grid-gap: 2rem;
}

.projects img {
    margin-bottom: .5rem;
}

.info-header {
    margin-bottom: 5px;
}

.tag, .info-header, .callout {
    font-family: "Unica77LLSub-Medium";
    color: #333333;
}

.info-subheader {
    font-family: "Unica77LLSub-Regular";
    margin-bottom: .25rem;
    text-decoration: underline;
}

.bullets {
    padding-left: 1.5rem;
}

.services {
    list-style-type: none;
}

.gallery {
    list-style: none;
}

.masonry {
    columns: 30rem;
    column-gap: 1rem;
    list-style: none;
    margin-bottom: 1rem;
    line-height: 0px;
}

.masonry img {
    margin-bottom: 1rem;
    border-radius: 20px;
}

.next {
    float: right;
}

.project-details {
    margin-top: 0rem;
    margin-bottom: 1.9rem;
    list-style: none;
    width: 600px;
}

/* -----------------------------------
   ABOUT PAGE STYLES
   ----------------------------------- */

.about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    margin-top: 3rem; /* Space between slideshow and content */
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Left: Headshot/Lists; Right: Bio */
    gap: 3rem; /* Space between columns */
    align-items: start;
}

/* Left Column */
.about-left img.headshot {
    width: 100%; /* Span the full width of the parent container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Prevent inline spacing issues */
    margin: 0; /* Remove any unwanted margin */
    margin-top: 4px;
    margin-bottom: 3rem; /* Add spacing below the image */
}

.services {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-header {
    font-family: "Unica77LLSub-Medium";
    margin-bottom: 0.5rem;
}

.bullets, .spacing {
    margin-bottom: 1.5rem;
}

/* Right Column */
.bio-intro {
    font-family: "Unica77LLSub-Light";
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 1rem;
}

.about-right p {
    margin-bottom: 1.5rem;
}

img.brand-image {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

/* Remove extra margin from the last paragraph in the bio section */
.about-right p:last-child {
    margin-bottom: 0; /* Eliminate unwanted bottom margin */
}

.accent1 {
    font-family: "Unica77LLSub-Regular";
    margin-bottom: 1.5rem !important;
}

/* -----------------------------------
   RESPONSIVE STYLES
   ----------------------------------- */

@media only screen and (max-width: 1071px) {
    .masonry {
        columns: 20rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-grid {
        grid-template-columns: 1fr; /* Single column layout for mobile */
        gap: 1.5rem; /* Reduce gap between elements for smaller screens */
    }
    .about-content {
        margin-top: 1.75rem; /* Space between slideshow and content */
    }
    .about-left img.headshot {
        width: 50%; /* Set the width to 50% of the container */
        max-width: none; /* Remove any width limitation */
        min-width: 175px;
        height: auto; /* Maintain the aspect ratio */
        display: block; /* Ensure it's treated as a block element */
        margin: 0; /* Align to the left with no centering margin */
        margin-top: 0;
        margin-bottom: 1.5rem; /* Add spacing below the image */
    }

    img.brand-image {
        margin-top: .5rem;
    }
}

@media only screen and (min-width: 768px) {
    .about-left {
        order: 1; /* Left column for desktop */
    }

    .about-right {
        order: 2; /* Right column for desktop */
    }
}

@media only screen and (max-width: 751px) {
    .masonry {
        columns: 15rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}

@media only screen and (max-width: 710px) {
    .project-details {
        width: 100%;
        margin-top: .25rem;
    }
}

@media only screen and (max-width: 710px) {
    .about {
        width: 100%;
    }
}

@media only screen and (max-width: 591px) {
    .masonry {
        columns: 12rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}

@media only screen and (max-width: 536px) {
    .password {
        width: 100%;
    }
}

@media only screen and (max-width: 495px) {
    .masonry {
        columns: 10rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}

@media only screen and (max-width: 432px) {
    .masonry {
        columns: 8rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}

@media only screen and (max-width: 367px) {
    .masonry {
        columns: 7rem;
        column-gap: 1rem;
        list-style: none;
        margin-bottom: 1rem;
        line-height: 0px;
    }
}
